@media screen and (width > 42rem) {
        body > header + nav {
            display: none;
        }
        #mobile-nav-toggle {
            display: none;
        }
        #mobile-site-nav {
            display: none;
        }
    }
    @media screen and (width <= 42rem) {
        body > header > nav {
            display: none;
        }
    }
    @media screen and (width > 42rem) {
        @scope (body > header) {
            nav > ul {
                display: block flex;
                align-items: stretch;
                gap: var(--padding-lg);
            }
            [id$='-nav-button-lvl-1'],
            [id$='-nav-link-lvl-1'] {
                display: block flex;
                align-items: center;
                gap: var(--padding-sm);
            }
            [id$='-nav-button-lvl-1'] > svg,
            [id$='-nav-link-lvl-1'] > svg {
                fill: currentColor;
                block-size: 0.325rlh;
                aspect-ratio: 1;
                rotate: 0turn;
                transform-origin: center;
                transition-property: rotate, translate;
                transition-duration: 150ms;
            }
            @media screen and (width > 42rem) and (prefers-reduced-motion: no-preference) {
                [id$='-nav-button-lvl-1']:has(+ :popover-open) > svg,
                [id$='-nav-link-lvl-1']:has(+ :popover-open) > svg {
                    rotate: 0.5turn;
                }
                [id$='-nav-button-lvl-1']:is(:hover, :focus-within):not(
                        :has(+ :popover-open)
                    )
                    > svg,
                [id$='-nav-link-lvl-1']:is(:hover, :focus-within):not(
                        :has(+ :popover-open)
                    )
                    > svg {
                    translate: 0 0.0625rlh;
                }
            }
            [id$='-nav-menu'] {
                position-area: end span-all;
                padding: var(--padding-md);
                background: inherit;
                border: 1px solid
                    oklch(
                        from
                            light-dark(
                                oklch(from white calc(l * 0.95) c h),
                                #151821
                            )
                            calc(l * 0.8) c h
                    );
                border-radius: var(--padding-sm);
                background-color: light-dark(
                    oklch(from white calc(l * 0.95) c h),
                    #151821
                );
                transition:
                    scale 300ms,
                    opacity 300ms,
                    display 300ms allow-discrete,
                    overlay 300ms allow-discrete;
                transform-origin: center;
                scale: 0.5;
                opacity: 0;
            }
            [id$='-nav-menu']:popover-open {
                scale: 1;
                opacity: 1;
            }
            @starting-style {
                [id$='-nav-menu']:popover-open {
                    scale: 0.5;
                    opacity: 0;
                }
            }
            [id$='-nav-menu'] > li > a::before {
                display: inline flow-root;
                transform: translateX(0);
                transition: transform 300ms;
                content: '>';
                fill: currentColor;
                aspect-ratio: 1;
                inline-size: 0.325rlh;
                margin-inline-end: 1ch;
            }
            @media screen and (width > 42rem) and (prefers-reduced-motion: no-preference) {
                [id$='-nav-menu'] > li > a:is(:hover, :focus)::before {
                    transform: translateX(0.5ch);
                }
            }
            nav > ul > li {
                font-family: monospace;
                align-content: center;
            }
            button {
                border: none;
                background: none;
                font-family: inherit;
            }
        }
    }