---
const discordInviteUrl = 'https://discord.com/invite/EzR3VyUQvF';
const homeUrl = '/';
---
<!-- Opens Discord in a new tab on click, then redirects this page to home -->
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join our Discord – Iron Riders</title>
    <link rel="canonical" href={discordInviteUrl} />
  </head>
  <body>
    <p>You will be redirected in 3 seconds to <a href={discordInviteUrl} >discord.com</a> You may have to disable your pop-up blocker</p>

    <!-- Inline-script for openning new tab, just for simplicity. Uses links established up top. -->
    <script is:inline define:vars={{ discordInviteUrl, homeUrl }}>
        setTimeout(redirect, 3000);
        setTimeout(function() { window.location.href = homeUrl; }, 3100);
        return false;
        function redirect(){
            window.open(discordInviteUrl, '_blank');
            e.preventDefault();
        }
    </script>
  </body>
</html>
