---
import Layout from '../layouts/Layout.astro';
import StandardBox from '../layouts/StandardBox.astro';

import Title from "../components/Title.astro";
---

<Layout>
    <!-- Wrapper for formatting-->
	<div class="py-5">

		<!-- Title -->
		<Title
			title="Join RHS Robotics!"
		/>

		<!-- Wrapper  -->
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
	
			<StandardBox>
				<!-- Why Join Section -->
				<div class="flex flex-col items-center py-12 px-8">
					<!-- Mini title -->
					<h2 class="text-2xl font-bold font-mono mb-8">Why Join?</h2>

					<div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-4xl w-full">
			
						<!-- Card 1 -->
						<div class="flex flex-col gap-2 p-6 bg-white dark:bg-gray-700">
							<h3 class="text-dark-800 font-bold font-mono text-lg dark:text-gray-200">Real-World Experience</h3>
							<p class="font-mono text-sm text-gray-700 dark:text-gray-400">
								In Robotics, you use real-world skills and learn how designing, managing, and creating projects happens everywhere.
							</p>
						</div>
			
						<!-- Card 2 -->
						<div class="flex flex-col gap-2 p-6 bg-white dark:bg-gray-700">
							<h3 class="text-dark-800 font-bold font-mono text-lg dark:text-gray-200">Learn New Skills</h3>
							<p class="font-mono text-sm text-gray-700 dark:text-gray-400">
								Robotics provides the oppertunity to try new things and learn new skills, such as CAD, programming, 3D-Printing, and more!
							</p>
						</div>
			
						<!-- Card 3 -->
						<div class="flex flex-col gap-2 p-6 bg-white dark:bg-gray-700">
							<h3 class="text-dark-800 font-bold font-mono text-lg dark:text-gray-200">Amazing Community</h3>
							<p class="font-mono text-sm text-gray-700 dark:text-gray-400">
								We have an incredible community of members, all of whom will support you through whatever!
							</p>
						</div>
					</div>
				</div>
			</StandardBox>

			<!-- Standard Box Design -->
			<StandardBox>
				<h1 class="px-10 pt-10 text-3xl md:text-4xl font-semibold text-white font-mono">What to do to Join?</h1>

				<p class="px-10 py-10 font-mono text-lg text-gray-700 dark:text-gray-400">
					If you are interested in joining, there's mutliple ways to join just join the discord
					or get in contact with one of our leaders! They will help you in the easy process, and then you can attend meetings and join a specific group
					that works on the robot or helps the program.
				</p>
			</StandardBox>
		</div>
	</div>
</Layout>