---
import Layout from '../layouts/Layout.astro';
import StandardBox from '../layouts/StandardBox.astro';

import Title from "../components/Title.astro";
---

<Layout>
    <div class="py-5">
        <!-- Title -->
        <Title 
            title="Outreach" 
        />

        <!-- Description -->
        <div class="py-5 md:py-6 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <p class="text-light-800 dark:text-dark-100 text-lg max-w-4xl leading-relaxed">
                desc
            </p>
        </div>

        <!-- What we do box -->
        <StandardBox>
            <div class="px-6 sm:px-8 md:px-10 py-10">
                <h2 class="text-2xl md:text-3xl font-semibold font-mono mb-3">
                    What we do
                </h2>
                <p class="font-mono text-base md:text-lg text-gray-700 dark:text-gray-300 max-w-4xl">
                    Descrption
                </p>

                <!-- Cards for info, currently not completed -->
                <div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-6">
                    <!-- Card 1 -->
                    <div class="p-6 bg-white dark:bg-gray-700 rounded-lg border border-light-300/60 dark:border-dark-400/60">

                    </div>
                    <!-- Card 2 -->
                    <div class="p-6 bg-white dark:bg-gray-700 rounded-lg border border-light-300/60 dark:border-dark-400/60">

                    </div>
                    <!-- Card 3 -->
                    <div class="p-6 bg-white dark:bg-gray-700 rounded-lg border border-light-300/60 dark:border-dark-400/60">

                    </div>
                </div>
            </div>
        </StandardBox>

        <!-- Request outreach visit box -->
        <StandardBox>
            <div class="px-6 sm:px-8 md:px-10 py-10">
                <h2 class="text-2xl md:text-3xl font-semibold font-mono mb-6">
                    Request an outreach event
                </h2>

                <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
                    <div class="lg:col-span-2">
                        Email outreach@ironriders.org
                    </div>
                </div>
            </div>
        </StandardBox>
    </div>
</Layout>
