---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <!-- Title -->
    <div class="py-5 md:py-8 bg-white dark:bg-dm-light-gray/80 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-dm-text font-mono mb-6">Our Team - Departments</h1>
    </div>

	<!-- Engineering Section -->
	<section class="py-6 md:py-8 bg-white dark:bg-dm-light-gray/80">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<h2 class="text-xl md:text-2xl font-medium text-gray-900 dark:text-dm-text font-mono mb-6">
				Engineering Department
			</h2>

			<!-- Description -->
			<p class="text-gray-600 dark:text-dm-text-muted text-lg max-w-4xl leading-relaxed">
				The engineering department is composed of two separate sub-teams which work together to design and build the robot. 
                Before the build season, both sub-teams hold curriculum meetings to teach newer members how to operate workshop tools 
                and use CAD programs. In addition, they teach basic design processes so everyone can help with the final design. 
                Throughout the build season, the engineering department is responsible for designing and building the robot within the 
                timeframe. During competition, department members are the primary group in the pit, so they can fix any problems that may 
                arise. 
			</p>
		</div>
	</section>

	<!-- Software Section -->
	<section class="py-6 md:py-8 bg-white dark:bg-dm-light-gray/80">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<h2 class="text-xl md:text-2xl font-medium text-gray-900 dark:text-dm-text font-mono mb-6">
				Software Department
			</h2>

			<!-- Description -->
			<p class="text-gray-600 dark:text-dm-text-muted text-lg max-w-4xl leading-relaxed">
				The Software Department is responsible for the backend of the robot. Before the build season, they teach newer members 
                how to use Java and the tools they use to code, such as VS Code. During the build season, they write the code for the robot,
                including not only basic driving and manipulator control, but also image recognition, motion profiling, and more. They test
                the robot rigorously to ensure everything works as expected, which is then handed off to Drive Team. 
			</p>
		</div>
	</section>

    <!-- Business Section -->
	<section class="py-6 md:py-8 bg-white dark:bg-dm-light-gray/80">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<h2 class="text-xl md:text-2xl font-medium text-gray-900 dark:text-dm-text font-mono mb-6">
				Business Department
			</h2>

			<!-- Description -->
			<p class="text-gray-600 dark:text-dm-text-muted text-lg max-w-4xl leading-relaxed">
				The business department has a wide range of responsibilities throughout the year. At the start of the year, the Business 
                Department focuses on finding sponsors and applying for available grants to obtain team funds. Throughout the build season,
                the department handles money and purchase requests for the various components required. In addition to these, the department 
                has a variety of other tasks, such as logo voting, working with communications, and team branding. 
			</p>
		</div>
	</section>

    <!-- Strategy Section -->
	<section class="py-6 md:py-8 bg-white dark:bg-dm-light-gray/80">
		<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
			<h2 class="text-xl md:text-2xl font-medium text-gray-900 dark:text-dm-text font-mono mb-6">
				Strategy Department
			</h2>

			<!-- Description -->
			<p class="text-gray-600 dark:text-dm-text-muted text-lg max-w-4xl leading-relaxed">
				The Strategy Department is responsible for having expertise in the rules and regulations of the game. This includes 
                determining how the robot will play, piloting the robot during the teleoperated period, and strategizing with other 
                teams on our alliance. 
			</p>
		</div>
	</section>

	
</Layout>
