
---

import type { string } from 'astro:schema';

interface Props {
  label: string;
  href?: string;
}

const { label, href } = Astro.props as Props;
---

<!-- This just checks if it's a href. If not, it creates a button with theoretically a specific purpose. It only exists if you want
 a button that isn't just a link to a page. Otherwise, don't worry about it -->
{href ? (
    <a
      href={href}
      class=
        "w-[var(--button-width)] px-[var(--button-padding-x)] py-[var(--button-padding-y)] text-lm-text dark:text-dm-text rounded-md hover:bg-lm-dark-gray dark:hover:bg-dm-light-gray 
        transition-colors duration-150 flex items-center justify-center font-mono"
    >
      {label}
    </a>
  ) : (
    <button
      class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors duration-150"
    >
      {label}
    </button>
  )}
