---
/* Imports Tailwind */
import "../styles/global.css";

/* Imports components */
import DropDownButton from '../components/DropDownButton.astro';
import Button from '../components/Button.astro';

---
<html lang="en">
  <header>
    
  </header>

  <body>

    <!-- Style Bar -->
    <hr class=" shadow p-1">

    <!-- Navbar -->
    <nav class="bg-gray-50 shadow p-2">
      <div class="container mx-auto px-4 flex items-center justify-between">

        <!-- Logo -->
        <a href="/" class="flex items-center space-x-2">
          <img src="/assets/logo.png" alt="Iron Riders Logo" class="h-15 w-auto" />
          <div class="font-mono bg-yellow-400 text-3xl p-2">IRON RIDERS</div>
        </a>

        <!-- Desktop Navigation links -->
        <div class="hidden lg:flex items-center space-x-2">
        <!-- Home Button -->
          <Button 
            label="Home"
            href="/"
          />

          <!-- About Us Dropdown -->
          <DropDownButton
            label="About Us"
            id="AboutUs"
            items={[
              { href: "/ourteam", label: "Our Team" },
              { href: "/gallery", label: "Gallery" },
              { href: "/mentors", label: "Mentors" }
            ]}
            />
            <!-- Resources Dropdown -->
            <DropDownButton
            label="Resources"
            id="Resources"
              items={[
              { href: "/chat", label: "Digital Resources" },
              { href: "https://opencollective.com/astrodotbuild", label: "Calander" },
              { href: "/sponsors", label: "Sponsors" },
              { href: "/daiwdohas", label: "Woops " }
              ]}
            />

            <!-- Community Dropdown -->
            <DropDownButton
            label="Community"
            id="Community"
              items={[
              { href: "/chat", label: "Outreach" },
              { href: "https://opencollective.com/astrodotbuild", label: "Join" },
              { href: "https://shop.astro.build/", label: "Discord" }
              ]}
            />
        </div>

        <!-- Mobile menu button -->
        <div class="lg:hidden flex items-center gray-50">
          <button id="mobile-menu-button" class="text-gray-500 focus:outline-none">

            <!-- The concept of this is that essentially you get a shape. You could also use html entities -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
            
          </button>
        </div>
      </div>
    </nav>

    <!-- Secondary Navbar for smaller devices -->
    <nav id="mobile-menu" class="lg:hidden hidden bg-gray-100 shadow p-1">

      <!-- Mobile menu content wrapper-->
      <div class="lg:hidden">

        <!-- Close Menu Button -->
        <div class="flex justify-end px-2">
          <button id="close-mobile-menu-button" class="text-gray-500 focus:outline-none hover:-gray-800">

            <!-- Again, don't worry about this, it's just for a symbol -->
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>

          </button>
        </div>

        <!-- Menu Content -->
        <div class="flex space-y-2 mt-4">   
        
        </div>
      </div>
    </nav>

    <main>
      <slot />
    </main>

  </body>
  <script src="../scripts/dropdown.js"></script>
  <script src="../scripts/mobileMenu.js"></script>
</html>