---
import '../../styles/components/header/header.css';

import ThemeAndMobileToggle from './ThemeAndMobileToggle.astro';
import HeaderBranding from './HeaderBranding.astro';
import DesktopNav from './DesktopNav.astro';
import MobileNav from './MobileNav.astro';
---
<a href="#main-content">Skip to main content</a>
<header>
    <HeaderBranding />
    <DesktopNav />
    <ThemeAndMobileToggle />
</header>
<MobileNav />